.main1{
    background-color: black;
    color:white;
    padding:10px;
    padding-top: 15px;
    position:fixed;
    top: 0;
    width:75%;
    margin: auto;
    min-width:390px;
}
.main2{
    background-color: black;
    padding: 20px;
    color:white;
    border-top:0.000001rem solid white;
    position:fixed;
    bottom: 0;
    width: 75%;
    margin: auto;
    min-width:390px;
}
.col{
    display: flex;
    justify-content: center;
}
.image21{
    width:30%;
    max-width: 150px;
}

.i1{
    color: white;
}
